/* Create Your Profile Page Styles */
/* ============================== */
/* Font import */
@import url('https://fonts.cdnfonts.com/css/hiairport');

/* Body styles */
body {
    font-family: 'HIAIRPORT FFMCOND', sans-serif;
    background: linear-gradient(to bottom, #2F2F2F, #8B0000); /* Gradient from greyish black to dark red */
    background-size: cover;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Profile container styles */
.profile-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #333;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

/* Profile header styles */
.profile-header {
    text-align: center;
    font-size: 24px;
    font-family: 'HIAIRPORT FFM', sans-serif;
    margin-bottom: 20px;
}

/* Form group styles */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #333;
    color: #fff;
}

/* Avatar options styles */
.avatar-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.avatar-options img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 2px solid transparent;
    margin: 5px;
}

.avatar-options img.selected {
    border-color: #fff;
}

/* Create button styles */
.create-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.create-button button {
    padding: 10px 20px;
    background-color: goldenrod;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'HIAIRPORT FFMCOND', sans-serif;
    border-radius: 5px;
}
